<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Vault</title>
    </head>
    <body>
        <h2>Welcome to your Vault, {{ request.user.username }}</h2>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>

        <hr>

        <h3>Add New Password</h3>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color:green">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if overwrite_warning %}
            <div style="border: 2px solid red; padding: 15px; margin-bottom: 20px; max-width: 500px;">
            <h4 style="color: red; margin-top: 0;">Warning: Credential Already Exists!</h4>
            <p>You already have a saved password for the username <strong>{{ pending_data.username }}</strong> at <strong>{{ pending_data.website_name }}</strong>.</p>
            <p>Do you want to replace your old password with this new one?</p>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="website_name" value="{{ pending_data.website_name }}">
                <input type="hidden" name="username" value="{{ pending_data.username }}">
                <input type="hidden" name="password" value="{{ pending_data.password }}">
                
                <input type="hidden" name="confirm_overwrite" value="True">

                <button type="submit" style="background-color: red; color: white; font-weight: bold; padding: 5px 10px; cursor: pointer;">Yes, Overwrite Password</button>
                <a href="{% url 'dashboard' %}" style="margin-left: 10px;">Cancel</a>
            </form>
        </div>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save to Vault</button>
        </form>
    {% endif %}
        <hr>

        <h3>Your Saved Passwords</h3>
        {% if credentials %}
            <table border="1" cellpadding="5">
                <thead>
                    <tr>
                        <th>Website</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cred in credentials %}
                    <tr>
                        <td>{{ cred.website_name }}</td>
                        <td>{{ cred.username }}</td>
                        <td>{{ cred.Password}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Your Vault is empty!</p>
        {% endif %}
    </body>
</html>