<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login - Secure Vault</title>
    </head>
    <body>
        <h2>Access your Vault</h2>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
        <p>Need an account? <a href="{% url 'register' %}">Register here</a>.</p>
    </body>
</html>